html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Comfortaa';
  text-align: justify;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

img[class] {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  padding: 25px 25px 25px 25px;
  border-radius: 50px;
}

div.navbar.container-fluid {
  position: fixed;
  z-index: 11;
  background-color: black;
}

div.timeline-buttons.container-fluid {
  display: flex;
  flex-direction: row;
  overflow: auto;
  z-index: 10;
  flex-wrap: nowrap;
}

.maincontent {
  padding-top: 15vh;
  margin-bottom: 10vh;
}

div.timeline-buttons {
  overflow: auto;
  white-space: nowrap;
}

div.timeline-buttons > .btn {
  display: inline-block;
  float: none;
}

button.btn {
  z-index: 2;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 40%;
}

button.btn:hover {
  z-index: 2;
  color: black;
  background-color: #e6c974;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 40%;
}

.navbar-brand {
  color: #dcb239;
  font-family: 'Bungee Inline';
  font-size: 3em;
}

.navbar-brand:hover {
  color: white;
  font-family: 'Bungee Inline';
  font-size: 3em;
}

button.btn.btn-primary {
  background-color: #dcb239;
  border: 1px solid white;
  color: black;
  font-weight: bold;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

::-webkit-scrollbar {
  height: 0;
}

h1,
h2,
h3 {
  color: #dcb239;
}

.line {
  position: absolute;
  top: 107px;
  height: 2px;
  width: 100%;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-family: 'Righteous';
}
