@import '~antd/dist/antd.css';

body {
  background-color: black;
}

.subcontent {
  color: white;
  padding: 20px 20px 20px 20px;
  height: 90vh;
}

.subcontent > h1,
h2,
h3 {
  color: white;
}

img {
  min-height: 100%;
  object-fit: cover;
}

.image-container {
  height: 90vh;
}

img[class] {
  width: 100%;
  padding: 25px 25px 25px 25px;
  border-radius: 50px;
}

.subcontent > * {
  vertical-align: middle;
}

.ant-timeline {
  height: 90vh;
  color: white;
  padding: 20px 20px 20px 20px;
}

div.ant-timeline-item-content {
  transition: font-size 0.3s;
}

div.ant-timeline-item-content:hover {
  font-weight: bold;
  cursor: pointer;
}

div.active {
  font-weight: bold;
}

div.ant-page-header {
  height: 6vh;
  background-color: black;
}

div.ant-page-header span {
  color: white;
  font-size: 20px;
}
